#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
}
.todo-table th,
.todo-table td {
  padding: 0.5em;
  border: 1px solid grey;
}
.todo-table th {
  background-color: rgb(39, 43, 33);
  text-align: left;
}
.todo-table tr:nth-child(even) {
  background-color: grey;
}
.todo-table tr:hover {
  background-color: darkslategrey;
}
.todo-table .todo-item {
  cursor: pointer;
}
.todo-table .todo-item.completed {
  text-decoration: line-through;
  color: #888;
}
.todo-table .todo-item .delete-button {
  color: #ff0000;
  cursor: pointer;
  margin-left: 1em;
}
.todo-table .todo-item .delete-button:hover {
  color: #cc0000;
}
.todo-table .todo-item .edit-button {
  color: #007bff;
  cursor: pointer;
  margin-left: 1em;
}